{% extends 'base.html' %}

{% block content %}

    <div style="text-align: center;">
        <br>
        <h5><a style="text-align: center; text-decoration: none; color: black;" href="http://127.0.0.1:8000/article/new/">New Post</a></h5>
        <br>
        <br>
        <h2 style=" color: dimgrey; text-decoration: none; font-family: sans-serif;">{{ article.title }}</h2>
        {% if article.photo %}
            <img src="{{ article.photo.url }}" style="border-radius: 10px;" alt="{{ article.title }}" width="500px" height="300px">
        {% endif %}
        <p style=" color: dimgrey; text-decoration: none; font-family: sans-serif;">{{ article.body | safe }}</p>
        <h3 style=" color: dimgrey; text-decoration: none; font-family: sans-serif;">{{ article.summary }}</h3>
        <p style=" color: dimgrey; text-decoration: none; font-family: sans-serif;">from {{ article.author }}</p>
        <p style=" color: dimgrey; text-decoration: none; font-family: sans-serif;">{{ article.date }}</p>
        <br>
        <div style="text-align: center; text-decoration: none; color: black; font-family: sans-serif;">
            <a style="text-decoration: none;" href="{% url 'update' article.pk %}">edit</a>
            <a style="text-decoration: none;" href="{% url 'delete' article.pk %}">delete</a>
            <a style="text-decoration: none;" href="{% url 'article' %}">posts</a>
        </div>
        <br>
        <br>
    </div>

{% endblock content %}