{% extends 'base.html' %}

{% block content %}

    <div style="text-align: center; color: darkblue; font-family: sans-serif;">
        {% if user.is_authenticated %}
            <br>
            <h2>Welcome {{ user.username }}</h2>
            <a style="text-decoration: none;" href="{% url 'logout' %}">Log out</a>
            <br>
            <h5><a style="text-align: center; text-decoration: none; color: black;" href="http://127.0.0.1:8000/article/">See all posts</a></h5>
            <br>
            <h5><a style="text-align: center; text-decoration: none; color: black;" href="http://127.0.0.1:8000/article/new/">New Post</a></h5>
        {% else %}
            <br>
            <h1>Welcome</h1>
            <a style="text-decoration: none;" href="{% url 'login' %}">Log in</a>
            <a style="text-decoration: none;" href="{% url 'signin' %}">Sign up</a>
        {% endif %}
    </div>

{% endblock content %}